.grid {
  display: grid;
}
.gap-4 {
  gap: .25rem;
}
.columns-5 {
  grid-template-columns: repeat(5, 1fr);
}
.border-1 {
  border: 1px solid;
}
.border-grey {
  border-color: slategray;
}
.p-4 {
  padding: .25rem;
}

.bg-grey {
  background-color: slategray;
}
.bg-green {
  background-color: chartreuse;
}
.bg-yellow {
  background-color: goldenrod;
}

.letter:empty {
  box-shadow: inset 0 0 0 .25rem slategray;
}