.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  block-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  inline-size: 1px;
}
.grid {
  display: grid;
}
.gap-4 {
  gap: .25rem;
}
.columns-5 {
  grid-template-columns: repeat(5, 1fr);
}
.place-center {
  place-content: center;
}
.justify-center {
  justify-content: center;
}
.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.max-w-480 {
  max-inline-size: 30rem;
}
.margin-0 {
  margin: 0;
}
.margin-y-48 {
  margin-block: 3rem;
}
.border-1 {
  border: 1px solid;
}
.border-grey {
  border-color: slategray;
}
.padding-0 {
  padding: 0;
}
.padding-4 {
  padding: .25rem;
}
.padding-4 {
  padding: .25rem;
}

.color-red {
  color: red;
}
.bg-grey {
  background-color: dimgray;
}
.bg-green {
  background-color: forestgreen;
}
.bg-yellow {
  background-color: goldenrod;
}
.bg-red {
  background-color: Maroon;
}

.board {
  grid-template-rows: repeat(6, 3rem);
}
.word {
  grid-template-columns: repeat(5, 3rem);
}
.unknown-letter {
  box-shadow: inset 0 0 0 2px slategray;
}
.key {
  inline-size: 2.5em;
  block-size: 2.5em;
}
@media screen and (max-width: 480px) {
  .key {
    inline-size: 1.75em;
  }
}
